*{
  background-color: #ECEEF1;
  margin: 0;
}

.form{
  background: #fff;
  color: #4C4C4C;
}

button{
  background: #0077C5;
}

.header{
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
